<h1>This is the private site of {{username}}</h1>

<iframe
  src='https://giphy.com/embed/3ohze3kG5qO9DcTUbe'
  width='480'
  height='333'
  frameBorder='0'
  class='giphy-embed'
  allowFullScreen
></iframe><p><a href='https://giphy.com/gifs/foxhomeent-3ohze3kG5qO9DcTUbe'>via
    GIPHY</a></p>

<a href='/main'>Go to Main</a>